
.map-marker {
  color: #fff;
  position: relative;
  display: flex;
  left: 5px;
  justify-content: center;
  &--primary {
      background: $color-base !important;
  }
  &--secondary {
      background: $color-secondary !important;
  }
  .text {
    position: absolute;
    z-index: 1;
    top: -14px;
    display: block;
    text-align: center;
    transform: translateX(-75%);
    left: 100%;
  }

  [class^="icon"] {
    position: relative;
    left: 2px;
    top: 2px;
  }
}

.mapboxgl-marker {
  z-index: 0 !important;
}

.mapboxgl-popup-content {
  padding: 0 !important;
  box-shadow: 0 48px 40px 0 rgba(#3a3a60, 0.23) !important;
  .property-thumbnail {
    margin-bottom: 0 !important;
  }
}

.mapboxgl-popup {
  z-index: 50;
  min-width: 240px;
}

.pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: inherit;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
}

.bounce {
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);
  }

  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg);
  }

  80% {
    transform: translateY(-10px) rotate(-45deg);
  }

  100% {
    transform: translateY(0) rotate(-45deg);
  }
}
