$color-base: #3A3A60;
$color-secondary: #6EDBD5;
$color-text: #8E8DA4;
$color-gray: #F6F8FC;
$color-success: #6EDBD5;
$color-danger: #F6516A;

$color-fb: #3b5998;
$color-tw: #29c5f6;
$color-in: #006dc0;
$color-gplus: #d13e2f;
