$color-base: #2196F3;
$color-secondary: #8BC34A;
$color-text: #212121;
$color-success: #449d44;
$color-danger: #c9302c;


$color-fb: #3b5998;
$color-tw: #29c5f6;
$color-in: #006dc0;
$color-gplus: #d13e2f;

// Typography
$font-headings:  'Raleway', Helvetica, Arial, sans-serif;
$font-secondary: 'Montserrat', Arial, sans-serif;
$font-primary: 'Montserrat', Arial, sans-serif;
