#page-sales {
  .property-listings {
    width: 50%;
    padding-left: 65px;
    padding-right: 50px;
  }
  #map {
    position: absolute;
    top: 74px;
    bottom: 0;
    right: 0;
    width: 50%;
    .map-marker {
      span.text {
        font-size: 16px;
        left: -3px;
      }
      &--primary {
        .pin {
          width: 40px;
          height: 40px;
          margin: -25px 0 0 -25px;
        }
      }
    }
  }
  .property-thumbnail {
    margin-bottom: 35px;
    &--inner {
      background: #fff;
      border-radius: 5px;
      padding: 10px 10px 0px;
      box-shadow: 0 1px 1px 0 rgba(#8e8da4, 0.13);
    }
    &-img {
      border-radius: 5px;
      height: 120px;
      width: 100%;
      background-size: cover;
    }
    &-desc {
      padding: 5px 10px;
      h5 {
        padding-top: 8px;
        font-size: 24px;
      }
      .details {
        font-size: 13px;
        .area,
        .beds,
        .bath-tubs {
          margin-top: 15px;
          justify-content: flex-start;
          [class^="icon-"] {
            width: 20px;
          }
        }
      }
    }
  }
  .property-listings {
    .property-thumbnail--inner {
      &:hover {
        box-shadow: 0 12px 26px 0 rgba(#3a3a60, 0.2);
      }
    }
  }
}

@media only screen and (max-width: 979px) {
  #page-sales {
    .property-listings {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

@media only screen and (max-width: 767px) {
  #page-sales {
    .property-listings {
      h5 {
        font-size: 16px;
      }
      .pl-3,
      .pr-3 {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
      .details {
        .flex.space-between {
          flex-direction: column;
          align-items: left;
        }
      }
    }
  }
}