h1.page-title {
    font-size: 42px;
    margin-top: 45px;
    margin-bottom: 35px;
}

.thumbnail-image {
    width: 100%;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 13px 26px 0 rgba(#888896, 0.43);
    &--big {
        height: 280px;
    }
}

.box {
    background: #fff;
    box-shadow: 0 6px 23px 0px rgba(#8E8DA4, .08);
    padding: 26px;
    border-radius: 4px;
    &--full {
        padding: 45px 40px;
        margin-top: 35px;
    }

    .thumbnail-image {
        width: 104px;
        height: 70px;
    }
}


.sidebar-right {
    &.sidebar-fixed {
        box-shadow: 0px 2px 107px 0 rgba(#3A3A60, 0.2);
    }
}

.table-row {
    &:hover {
        box-shadow: 0 18px 29px 0 rgba(#8E8DA4, 0.29);
    }
}


.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title-left {
        font-size: 26px;
        color: $color-base;
    }

    .title-right {
        font-size: 14px;
    }
}

.filter-nav {
    position: relative;
    display: flex;
    margin: 40px 0;
    border-bottom: 1px solid #e3e4eb;
    line-height: 16px;
    align-items: center;
    text-align: center;
    &.space-between {
        justify-content: space-between;
    }
    &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        border-top: 1px solid #eceef3;
        top: calc(100% - 1px);
        left: 0;
        right: 0;
        opacity: 0.5;
    }

    a {
        cursor: pointer;
        display: flex;
        min-height: 32px;
        align-items: center;
        padding-bottom: 3px;
    }
    .item {
        margin: 0 40px;
    }

    .flex {
        align-items: center;
    }

    .active {
        position: relative;
        color: $color-secondary !important;
       //box-shadow: 0 2px 2px 2px $color-secondary;
        &:after {
            content: "";
            height: 1px;
            position: absolute;
            left: -25px;
            top: calc(100% - 1px);
            right: -25px;
            border-bottom: 3px solid $color-secondary;
        }

        span, .selectivity-placeholder {
            color: $color-secondary !important;
        }

        .selectivity-result-item {
            color: $color-text;
            &.highlight {
                color: #fff;
            }
        }

        .fa {
            color: $color-secondary;
        }
    }

    input[type="text"] {
        width: 100px;
        color: $color-text;
        border: 0;
        background: transparent;
        padding-left: 8px;
    }

    .wide {
        width: 23.5%;
        min-width: 168px;
    }
    .selectivity-single-select {
        background: transparent;
        text-align: left;
        color: $color-text;
        min-height: 26px;
        position: relative;
        top: -3px;
        .selectivity-placeholder {
            color: $color-text;
        }
        .selectivity-caret {
            @extend .fa-sort;
            -webkit-text-stroke: 1px $color-gray;
            -moz-text-stroke: 1px $color-gray;
            text-stroke: 1px $color-gray;
        }

        .selectivity-single-selected-item {
            color: $color-text;
        }   
    }
    .selectivity-results-container {
        text-align: left;
        .selectivity-result-item {
            text-align: left;
        }
    }
    .selectivity-error, .selectivity-loading, .selectivity-search-input-container, .selectivity-result-label {
        display: none;
    }

}


@media only screen and (min-width: 980px) and (max-width: 1200px) {
    .filter-nav  {
        .nav {
            .item {
                margin: 0 12px;
            }
        }
        .active {
            &:after {
                left: 0px;
                right: 0px;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
    .filter-nav  {
        .nav {
            .item {
                margin: 0 9px;
            }
        }
        .active {
            &:after {
                left: 0px;
                right: 0px;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    h1.page-title {
      font-size: 20px;
      margin: 15px 0;
      text-align: center;
    }


    .title {
        flex-direction: column;
        align-items: left;
    }

    .box {
        padding: 15px;
        &--full {
            padding: 12px;
        }
    }

    .filter-nav  {
        flex-direction: column;
        font-size: 14px;
        .nav {
            margin-bottom: 10px;
        }
        .item {
            margin: 0 10px;
        }
        .active {
            &:after {
                left: 0px;
                right: 0px;
            }
        }
    }
  }